{% extends 'base/base.html' %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/register.css' %}">
{% endblock %}
{% block title %}
    注册界面
{% endblock %}

{% block content %}
 <div class="register">
    <div class="back"><a href="{% url 'appaxf:mine' %}"><span class=" glyphicon glyphicon-remove "></span></a></div>
    <form action="{% url 'appaxf:register' %}" method="post" enctype="multipart/form-data">
        <div class="form-group has-feedback" id="userid">
            <div class="input-group">
                <div class="input-group-addon">账号</div>
                <input type="text" class="form-control" placeholder="账号长度为6~12个字符" name="userid" required="required">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <i></i>
        </div>

        <div class="form-group" id="password">
            <div class="input-group">
                <div class="input-group-addon">密码</div>
                <input type="password" class="form-control" placeholder="密码长度为6~16个字符" name="password">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <i></i>
        </div>

        <div class="form-group" id="verifypassword">
            <div class="input-group">
                <div class="input-group-addon">验证</div>
                <input type="password" class="form-control" placeholder="密码长度为6~16个字符"  name="verifypassword">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <i></i>
        </div>

        <div class="form-group" id="nickname">
            <div class="input-group">
                <div class="input-group-addon">昵称</div>
                <input type="text" class="form-control" name="nickname">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <i></i>
        </div>

        <div class="form-group" id="telphone">
            <div class="input-group tel">
                <div class="input-group-addon">电话</div>
                <input type="text" class="form-control" name="telphone">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
            <i></i>
        </div>

        <div class="form-group" id="address">
            <div class="input-group">
                <div class="input-group-addon">地址</div>
                <input type="text" class="form-control" name="address">
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">头像</div>
                <input type="file" class="form-control" name="file">
            </div>
        </div>
        <input id="subButton" type="submit" value="注册">
    </form>
 </div>
{% endblock %}

{% block extjs %}
    <script type="text/javascript" src="{% static 'mine/js/register.js' %}"></script>
{% endblock %}